body{
background:"абстрактный.jpg"; 
background-size: cover;
}
canvas{
margin-top: 80px;
animation-name: oke;
animation-duration: 4s;
animation-iteration-count: infinite;
}

@keyframes oke{
    from{box-shadow: 1px 1px 69px cyan;}
    to {box-shadow: 1px 1px 69px lime;}
}
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }